:root {
  --body-width: calc(100% - 150px);
  --main-color: white;
  --secondary-color: black;
  --cta-color: rgb(77, 77, 237);
  --text-color: black;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

/* Navigation Styling */

header {
  background-color: var(--secondary-color);
}

nav {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  max-width: var(--body-width);
  width: 100%;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul>* {
  padding-left: 4rem;
}

nav a {
  color: var(--main-color);
}

#cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  background-color: yellow;
  justify-content: space-between;
  position: relative;
  background-image: url(../public/assets/hero-image.jpg);
  background-size: cover;
  background-position: center;
  /* filter: grayscale(1); */
}

div.hero div.cta {
  position: absolute;
  bottom: 0;
  margin: 0 5rem 5rem;
  width: 100%;
}

/* Cart */

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--main-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}

.scrollable {
  overflow-y: scroll;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 1rem;
}

.cart-details {
  display: grid;
  row-gap: 0.5 rem;
}

.cart-quantity {
  outline-color: var(--cta-color);
}

.total-price {
  margin-left: 0.5rem;
}

.cart-remove {
  cursor: pointer;
}

.btn-buy,
.btn-apple {
  width: 100%;
  background-color: var(--cta-color);
  border-width: 0;
  color: var(--main-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-apple{
  background-color: var(--secondary-color) !important;
}

.btn-buy:hover,
.btn-apple:hover,
.btn-buy:focus,
.btn-apple:focus {
  filter: brightness(150%);
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}

#close-cart {
  position:absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 3rem;
}

/* Product Section Styling */

section {
  max-width: var(--body-width);
  margin: 4rem auto;
}

section.products h2 {
  margin: 4rem 0;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
}

.product-button {
  background-color: var(--cta-color);
  border-radius: 8px;
  border-width: 0;
  color: var(--main-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.product-button:hover,
.product-button:focus {
  filter: brightness(150%);
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer Styling */

footer {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
}

footer li a {
  color: white;

}

footer> :first-child {
  margin-top: 2rem;
}